.navBar {
  color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: rgb(27, 149, 231);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

  img {
    width: 50px;
    height: 50px;
  }

  .Link {
    text-decoration: none;
    color: red;
    font-size: 25px;
    font-weight: bold;

    &:hover {
      color: greenyellow;
    }
  }
}
