.locations{
    text-align: center;
}

.location-blocks {
    margin: 8%;
    padding: 2px;
    background-color: teal;
    border: 3px solid rgb(78, 78, 139);
}
.inside-blocks {
   
    list-style: none;
}
.location-list {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(5,1fr);
    font-family: Georgia;
}

h1 {
    font-family: Georgia;
    text-decoration: underline;
    color:rgb(78, 78, 139)
}

.show-location-button {
    font-family: Georgia;
}

.buttons {
    font-family: Georgia;

}