
li {
    list-style-type: none;
}

.location-gallery {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-gap: 65px;
    justify-content: space-around;

}

.single-location {
    border: 5px solid rgb(7, 57, 90);
    padding: 50px;
    color:black;
    background-color: #d3c35d; 
    border-radius: 30px;
}

