div {
    background-color:bisque;
    font-family: fantasy;
}

.moviecard {
    font-size: x-large;
    font-family:fantasy;
    padding:1.2em 30px 1.2em 75px;
    border-radius: 10px;
    text-align: left;
    position: relative;
    width:100%;
    margin:25px auto;
}

h4, h5 {
    font-style: oblique;
    text-decoration: underline;
}

.movies {
    margin-bottom: -9000px;
}