.nav {
    display: flex;
    flex: 0.3;
    align-items: center;
    justify-content: space-evenly;
    background-color: teal;
    font-family: Georgia;

}


.nav-logo {
max-width: 50px;
max-height: 50px;
margin-top: 20px;
background-color: teal;
}
