nav {
	height: 100px;
	background-color: transparent;
	justify-content: center;
	text-align: center;
	display: grid;
	grid-template-columns: 50px repeat(3, 1fr);
}
img {
	height: 50px;
	width: 50px;
	background: transparent;
}
nav div {
	padding: 10px;
	margin: 15px;
}
