.peopleInfo {
  padding: 2rem;
}
.wrapper {
  margin: 2rem 0 -1rem 0;
}

.name-container {
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 800px) {
  .wrapper,
  .peopleInfo {
    text-align: center;
    margin: 1rem auto;
  }
}
