.locations {
  text-align: center;
  background-color: aliceblue;
  width: 90vw;
  margin: 0 auto;
  height: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);

  .locationDetails {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 3% auto;
    padding: 0.5rem;
    border-radius: 0.5rem;
    list-style: none;

    .locationItems {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      padding: 0.5rem;
      border-radius: 1rem;
      background-color: rgb(252, 255, 192);
      height: 100%;
      box-shadow: 0rem 0rem 1.5rem rgb(0, 255, 0);

      .listItem {
        background-color: whitesmoke;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        list-style: none;
        width: 100%;
        padding: 0.5rem;
        margin-bottom: 3%;
      }
    }
  }
}
