.home{
    text-align: center;
}

img{
    height: 200px;
    padding: 5px;
    
}

.moviePics{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    list-style: none;
}

.movie-card{
    padding: 10px;
}