.ghibslogo{
    height: 50px;
    width: 50px;
  }
  
  .navbar {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    font-size: x-large;
    margin: 5px;
    padding: 15px;
    /* border-radius: 30%; */
    /* background-color: antiquewhite; */
  }