#MovieDiv{
    display: grid;
    text-align: center;
    justify-content: center;
    margin: auto;
    border: 2px dotted black;
    background: linear-gradient(-10deg, gray, white, black);
}
.dropDown{
    display: grid;
    margin: auto;
    max-width: 125px;
    -webkit-appearance: none;
}